<div class="gnavi"><div class="wrap">
    <ul class="parent clearfix">
      <li><a href="http://www.moongift.jp/" class="menu01">ホーム</a></li>
      <li><a href="http://www.moongift.jp/category/software" class="menu02">ガイドブック</a></li>
      <li><a href="http://biz.moongift.jp/" class="menu03">旅行プラン</a></li>
    </ul>
  </div>
</div><!--/wrap,gnavi-->

<div class="gnavi_child child01_bg"><div class="wrap">
    <ul class="child01">
      <li><a href="http://www.moongift.jp/about">Social Guidebookについて</a></li>
      <li><a href="http://www.moongift.jp/help">ヘルプ</a></li>
      <li><a href="http://www.moongift.jp/2010/08/want_sponsors/">広告・スポンサー</a></li>
      <li><a href="http://twitter.com/#!/moongift">Twitter</a></li>
    </ul>
    <ul class="child02" style="display:none">
      <li><a href="http://www.moongift.jp/category/software">ページ一覧</a></li>
      <li><a href="http://www.moongift.jp/category/development">最近更新したページ</a></li>
      <li><a href="http://www.moongift.jp/category/engineer">最近登録された写真</a></li>
      <li><a href="http://www.moongift.jp/category/life">最近登録された動画</a></li>
    </ul>
    <ul class="child03" style="display:none">
      <li><a href="http://biz.moongift.jp/category/jobs">旅行プラン一覧</a></li>
      <li><a href="http://biz.moongift.jp/category/works">人気の旅行プラン</a></li>
      <li><a href="http://biz.moongift.jp/category/profiles">最近更新された旅行プラン</a></li>
    </ul>
  </div>
</div><!--/wrap,child-->
